@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

/* Global */
body {
  background-color: #0A0A0A;
}

label {
  display: none;
}

h1, h2, h3, p, li {
  font-family: 'Helvetica Neue', sans-serif;
  color: white;
}

p {
  font-weight: 300;
}

h1 {
  font-weight: 700;
}
a:hover {
  color: #42daf5;
}


/* Block Items*/
.block-item {
  border-left: 1px solid #FFFFFF;
  margin-top: 3vh;
  margin-left: 15vw;
  height: auto;
}

/* Header */
.header {
  margin-top: 10vh;
  margin-left: 10vw;
}

.header h1 {
  font-size: 4em;
  text-transform: uppercase;
}

.header p {
  font-size: 1.75em;
  margin-left: 5vw;
  width: 75vw;
}

/* Mobile Header */

.mobile-header h1 {
  font-size: 2.75em;
}

.mobile-header p {
  font-size: 1.5em;
}

.mobile-header {
  margin-top: 5vh;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;

}

/* Footer */
footer {
	background-color: #141414;
	width: 100vw;
	height: 50px;
	bottom: 0;
  left: 0;
	position: fixed;
}

footer p {
	font-size: 1em;
  margin-bottom: 0;
}

/* Input */

input[type="text"] {
  background-color: transparent;
  color: white;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  outline: none;
  font-size: 1.25em;
  width: 620px;
  height: 40px;
}
