@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Global */
h1, h2, p , li, .email-form, .email-label{
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 4em;
}

h2 {
  font-weight: 300;
  font-size: 2em;
}

p {
  font-weight: 300;
}

label {
  display: none;
}

nav {
  text-transform: lowercase;
  font-weight: 400;
}

#liquid-shape {
  bottom: 0;
  right: 0;
  position: fixed;
}

/* Header */
.header {
  margin-top: 12.5vh;
  margin-left: 7.5vw;
}

/* Form */
.token-form {
  margin-top: 2.5vh;
  margin-left: 7vw;

}
.token-input {
  background: #F3F3F3;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 35vw;
  height: 4vh;
  padding-left: 0.5vw;
}

.token-label {
  color: #6A6A6A;
  font-weight: 400;
  margin-left: 0.25vw
}

.block-item {
  border-left: 2px solid #009D56;
  margin-top: 3vh;
  margin-left: 7vw;
  height: auto;
  font-family: "Helvetica Neue";

}

/* About us & Privacy */
.block-item p {
  font-family: "Helvetica Neue";
  font-weight: 400;
}

.credits {
  padding-top: 1vh;
  margin-left: 7.5vw;
}
