<!DOCTYPE HTML>
{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/95b6924dce.js" crossorigin="anonymous"></script>
    <link href="{% static 'pages/main_v4.css' %}" rel="stylesheet">
    <title> Schulich Assignment Tracker </title>

  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="assignment-tracker/privacy">Privacy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/github/canvas-assignments-tracker">Github</a>
            </li>
          </ul>
        </div>
      </nav>
      <div id="liquid-shape">
        <img src="{% static 'pages/img/liquid-schulich.svg' %}"></img>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
          <div class="header">
            <h1> Schulich Assignment Tracker </h1>
            <h2> Logs all your Canvas assignments in a spreadsheet you can sort by date, weight etc. Never miss an assignment again. </h2>
          </div>
          <div class="credits">
            <p> Made with <i class="fas fa-heart"></i> by <a href="/">Haider Zaidi</a> </p>
          </div>

        </div>
      </div>

      <div class="col-lg-7 col-md-7 col-sm-3 col-xs-3">
        <div class="block-item">
          <h3 class="ml-3"> Instructions </h3>
          <p class="ml-3"> Generate an access token from your <a href="https://schulich.instructure.com/profile/settings" target="_blank">profile settings page</a> on Canvas under “approved integrations”. Set the purpose to "Assignment Tracker", and leave the expiry blank. Paste the token in the box below and press enter.  </p>
        </div>
      </div>

      <div class="col-lg-8 col-md-6 col-sm-2 col-xs-2">
        <div class="form-row">
          <form class="token-form" method="post">{% csrf_token %}
            <div class="form-group">
              {{form}}
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS Dependencies (jQuery) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
