<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title> Schulich Assignment Tracker </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/95b6924dce.js" crossorigin="anonymous"></script>
    <link href="{% static 'pages/main_v4.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/assignment-tracker">Home </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Privacy<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/github/canvas-assignments-tracker" target="_blank">Github</a>
            </li>
          </ul>
        </div>
      </nav>
      <div id="liquid-shape">
        <img src="{% static 'pages/img/liquid-schulich.svg' %}"></img>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-8 col-sm-4 col-xs-4">
          <div class="header">
            <h1> Data Privacy </h1>
            <h2> What data is being accessed, and how is it staying safe? </h2>
          </div>
        </div>
      </div>

      <div class="col-lg-7 col-md-7 col-sm-3 col-xs-3">
        <div class="block-item">
          <h3 class="ml-3"> Secure and safe. </h3>
          <p class="ml-3"> Data from the assignment tracker (your spreadsheet) is stored on a server in Toronto, Canada. The tracker only accesses the courses you're enrolled in, your assignments and their respective due dates. The tracker does not access any of your personal information, your grades, etc. For verifiability, the tracker is open-source. Anyone can <a href="https://github.com/HaiderZaidiDev/canvas-assignments-tracker" target="_blank">view the code here</a>, and see exactly what data is being accessed. All data stored is deleted off the server at the end of each semester. </p>
        </div>
      </div>


    </div>
    <!-- Bootstrap JS Dependencies (jQuery) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
